exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.off", "pdf", "png")
importFrom("graphics", "abline", "axis", "par", "segments", "text")
importFrom("graphics", "plot")
importFrom("stats", "na.omit", "pnorm", "qnorm", "sd")
importFrom("utils", "head", "setTxtProgressBar", "txtProgressBar","write.csv", "write.table")
import(outliers)